.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #0d0d0d;
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 5;
}