.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #0d0d0d;
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 5;
}

.genres-box {
    -fx-spacing: 5;
}

.genre {
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-padding: 0 0 5 0;
}

.episode-button {
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #fff;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.language {
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}