scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #0d0d0d;
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 5;
}

.genres-box {
    -fx-spacing: 5;
}

.genre {
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-padding: 0 0 5 0;
}

.cast-box {
    -fx-cursor: hand;
    -fx-alignment: center;
}

.cast-label {
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
}

.director-name {
    -fx-font-family: "Manrope";
    -fx-font-size: 26px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.rating-text {
    -fx-font-family: Manrope;
    -fx-font-weight: Bold;
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-text-fill: #fff;
    -fx-padding: 0 0 0 5;
}

.language {
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}